<p id="notice"><%= notice %></p>

<h1>Are you sure you want to delete?</h1>
<%= link_to 'Click here to confirm delete', book_path, method: :delete %>

<br>
<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>
